<div class="banner-homepage">
  <h1>Airmoto</h1>
</div>


<div class="container mt-5">
  <h2>Offers for your next trip</h2>
  <div class="row mt-4">
    <% @motos.take(3).each do |moto| %>
      <div class="col-4">
        <div class="card-moto">
          <%= cl_image_tag moto.photo.key, height: 300, width: 400, crop: :fill%>
          <div class="card-moto-info">
            <p> <%= link_to moto.name, moto_path(moto), :class => "name" %> </p>
            <p id="brand"> <%= moto.brand %> </p>
            <p id="address"> <%= moto.address %> </p>
            <p id="price"> <%= moto.price%> €</p>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

</div>

<%# <p>Find me in app/views/pages/home.html.erb</p> %>
