
<div class="Container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.midilibre.fr/api/v1/images/view/61def9638fe56f5eb81849b6/large/image.jpg?v=1)">
    <div class="container">
    <%= link_to "Enter in the garage!", motos_path , class: "btn btn-ghost" %>
    </div>
  </div>

  <h2>Booking HISTORY</h2>
  <% @motos.each do |moto| %>
    <div class="row mt-4">
      <% moto.bookings.each do |booking| %>
        <div class="col-4">
          <div class="card-category">
            <div class="card-product-img">
              <%= cl_image_tag moto.photo.key, height: 300, width: 400, crop: :fill%>
              <i class="fas fa-trash"></i>
              <i class="fas fa-pen"></i>
            </div>
            <div class="card-product-info">
              <h2> <%= booking.start_date %> </h2>
              <p> <%= booking.end_date %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <h2>Mes MOTOS</h2>

  <div class="row">
    <% @motos.each do |moto| %>

      <div class="card-trip">
        <%= cl_image_tag moto.photo.key, height: 300, width: 400, crop: :fill%>

        <div class="card-trip-infos">
          <div>
            <h2><%= moto.brand %> </h2>
            <p><%= moto.power %> Horsepower</p>
            <p><%= moto.kilometers %> Km</p>
            <p>Location: <%= moto.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= moto.price %>€</h2>
        </div>
      </div>
    <% end  %>
  </div>


</div>
