<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnbBg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <!-- app/views/layouts/application.html.erb -->
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <footer>
        <div class="container-footer">
            <div class="section-support">
                <h3>Support</h3>
                <ul>
                    <li><a href="mailto:contact@nomdusite.com">contact@websitename.com</a></li>
                </ul>
            </div>
            <div class="section-community">
                <h3>Community</h3>
                <ul>
                    <li><a>(contenu)</a></li>
                </ul>
            </div>
            <div class="section-about">
                <h3>about</h3>
                <ul>
                    <li>(contenu)</li>
                </ul>
            </div>
            <div class="section-about">
                <h3>(contenu)</h3>
                <ul>
                    <li>(contenu)</li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="footer-bottom">
            <p> &copy 2022 (WebsiteName) · Privacy · Terms </p>
        </div>
    </footer>
  </body>
</html>
