<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.yamaha-motor.eu/content/dam/fr-assets/t%C3%A9n%C3%A9r%C3%A9-700-center/trail-rando/2019_Trail_Rando_Diagonale_Tenere_700_245.jpg/_jcr_content/renditions/cq5dam.web.2000.2000.jpeg);">
  <div class="container">
    <h1>Find your bike for the next 24 hours or more!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @motos.each do |moto| %>
      <div class="col-12">
        <div class="card-product mt-3">
           <%= cl_image_tag(moto.photo.key, height: 300, width: 400, crop: :fill)%>
            <div class="card-product-infos">
            <%= link_to moto_path(moto) do %>
            <h2> <%= moto.name %> </h2>
            <% end %>
            <p>Moto power: <%= moto.power %>CC</p>
            <p>kilometers: <%= moto.kilometers %> Kms</p>
            <p><strong>for only</strong> <%= moto.price %> €</p>
            </div>
          </div>
          <hr/>
        <% end %>
      <%= link_to "Create a moto", new_moto_path, class: "new-moto mt-3"  %>
      <%= link_to "Home", root_path, class: 'new-moto mt-3' %>
    </div>
  </div>
</div>
