<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.yamaha-motor.eu/content/dam/fr-assets/t%C3%A9n%C3%A9r%C3%A9-700-center/trail-rando/2019_Trail_Rando_Diagonale_Tenere_700_245.jpg/_jcr_content/renditions/cq5dam.web.2000.2000.jpeg);">
    <div class="container">
      <h2>Create your moto here and make money!</h2>
    </div>
</div>

<div class="container">
  <h1> Create your Moto</h1>
  <%= simple_form_for(@moto) do |f| %>
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :address,
              input_html: { data: { geocoder_target: "address" }, class: "d-none"  },
              wrapper_html: { data: { controller: "geocoder",
  geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
  <%= f.input :power %>
  <%= f.input :kilometers %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create your Moto", class: "new-moto mb-3" %>
  <% end %>

  <%= link_to "Home", root_path, class: "new-moto"  %>
</div>
