<div class="container">
  <h1> Create your Moto</h1>
  <%= simple_form_for(@moto) do |f| %>
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :address %>
  <%= f.input :power %>
  <%= f.input :kilometers %>
  <%= f.input :price %>
  <%= f.submit "Create your Moto", class: "btn btn-primary mb-3" %>
  <% end %>



  <%= link_to "Home", root_path, class: "btn btn-primary"  %>
</div>
