<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.yamaha-motor.eu/content/dam/fr-assets/t%C3%A9n%C3%A9r%C3%A9-700-center/trail-rando/2019_Trail_Rando_Diagonale_Tenere_700_245.jpg/_jcr_content/renditions/cq5dam.web.2000.2000.jpeg);">
  <div class="container">
    <h1>Hey <%= @moto.name %>!</h1>
    <h2><strong>Make a Reservation on This Bike</strong> !</h2>
  </div>
</div>


<div class="container">
  <div class="card-trip mb-3">
    <%= cl_image_tag @moto.photo.key, height: 300, width: 400, crop: :fill%>
    <div class="card-trip-infos mb-3">
      <div>
        <h2><%= @moto.brand %> </h2>
        <p><%= @moto.power %> Horsepower</p>
        <p><%= @moto.kilometers %> Km</p>
        <p>Location: <%= @moto.address %></p>
      </div>
      <div>
        <%= link_to "Reserve bike now", new_moto_booking_path(@moto), class: "new-moto" %>
      </div>

      <% if @moto.user_id == current_user.id %>
        <div>
          <%= link_to "Delete this Bike", moto_path(@moto), method: :delete, class: "new-moto" %>
        </div>
        <div>
          <%= link_to "Update Bike", edit_moto_path(@moto), class: "new-moto" %>
        </div>
      <% end %>

      <h3 class="card-trip-pricing"><%= @moto.price %>€</h2>
    </div>
  </div>
  <%= link_to "Back to Motos", motos_path, class: "new-moto mt-3"  %>
</div>
